:root {
    font-size: 24px;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

input, button {
    font: inherit;
    border: none;
}

input:focus {
    outline: none;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.auth-form {
    display: block;
    border: 3px solid rgb(200, 200, 200);
    padding: 1rem;
    border-radius: 1rem;
}

.input-container {
    padding: 0.3em;
    border: 1px solid black;
    border-radius: 0.3em;
    margin-bottom: 1rem;
}

.button-container {
    display: flex;
    justify-content: center;
}

.login-button {
    padding: 0.3em;
    border: 1px solid black;
    border-radius: 0.3em;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}


