* {
  margin: 0;
  padding: 0;
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.tries-counter {
  font-size: 48px;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  width: min-content;
  margin: 0 auto;
  list-style-type: none;
}

.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.game-over {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 48px;
}

.CardElement {
  width: 140px;
  height: 200px;
}

.hidden {
  display: none;
}

.restart-button {
  background-color: #000;
  font-size: 36px;
  padding: 12px;
  color: #fff;
}
