.table {
    width: 100%;
    border-collapse: collapse;
}

.table td {
    /* border: 1px solid rgb(0, 0, 0); */
    padding: 10px;
}

.table tbody tr:nth-of-type(odd) {
    background-color: rgb(239, 239, 239);
}

.table tbody tr {
    border-bottom: 1px solid rgb(232, 232, 232);
}

.table td:first-child, .table th:nth-child(1) {
    color: rgb(17, 17, 17);
    width: 30%;
}
